.uk-navbar-nav>li.uk-active>a, .uk-navbar-nav>li>a{
    font-size: 20px;
    color: white;
    font-family: harabara;
}

body{
    font-family: harabara;
}

#galeria{
    background-color: #cbcbcb;
}

@font-face{
    font-family: harabara;
    src: url(../fonts/Harabara.ttf);
}

.uk-h3{
    text-align: center;
    margin-top: 50px;
}

#logo-empresa{
    padding:16px 0 17px 0
}

.brand{
    text-align: center;
    padding-top: 30px;
}

svg{
    width: 50px;
    height: 50px;
}

.uk-inline{
    padding-top: 20px;
}